/* Global App Styles & Variables */
.AscentApp {
	--ascent-pink: #fc5c7d;
	--ascent-blue: #6a82fb;
	--ascent-light: #f6f6f6;
	--ascent-dark: #343434;
	--ascent-text: #343434;
	--ascent-glass: rgba(255, 255, 255, 0.80);
	position: relative;
	background: var(--ascent-pink);
	background: -webkit-linear-gradient(115deg, var(--ascent-pink), var(--ascent-blue)); 
	background: linear-gradient(115deg, var(--ascent-pink), var(--ascent-blue));
	color: var(--ascent-text);
}
.AscentApp.Focus {
	--ascent-text: #f6f6f6;
	--ascent-glass: rgba(30, 30, 34, 0.95);
	background: var(--ascent-dark);
}
.LightHeading, .LightText {
	color: var(--ascent-light);
}
.LightHeading {
	text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.BigText {
	font-size: 120%;
}
.GlassBackground {
	background-color: var(--ascent-glass);
	backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}