.FullCenteredContainer {
	width: 100%;
	height: calc(100vh - 56px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.FullCentered {
	max-width: 660px;
	padding: 30px;
	border-radius: 5px;
}
.FullCentered.Light {
	background-color: rgba(242, 242, 242, 0.96);
}
.FullCentered.Dark {
	background-color: rgba(35, 35, 35, 0.96);
}